importFrom(minqa, bobyqa)   
importFrom(magic, adiag)   
import(stats)
importFrom("graphics", "lines", "par", "plot", "rug")
S3method(print, bGLMM)
S3method(summary, bGLMM)
S3method(predict, bGLMM)
S3method(print, summary.bGLMM)
S3method(print, bGAMM)
S3method(summary, bGAMM)
S3method(predict, bGAMM)
S3method(plot, bGAMM)
S3method(print, summary.bGAMM)
S3method(print, OrdinalBoost)
S3method(summary, OrdinalBoost)
S3method(predict, OrdinalBoost)
S3method(print, summary.OrdinalBoost)
export(bGLMM, bGLMMControl,OrdinalBoost,OrdinalBoostControl,bGAMM, bGAMMControl)
S3method(bGLMM,formula)
S3method(bGAMM,formula)
S3method(OrdinalBoost,formula)